includes:
    - services/configuration.neon
    - services/console.neon
    - services/files.neon
    - services/sniffs.neon

services:
    - Symplify\PHP7_CodeSniffer\Fixer
    - Symplify\PHP7_CodeSniffer\Php7CodeSniffer

    # reporter
    - Symplify\PHP7_CodeSniffer\ErrorDataCollector

    # ruleset
    - Symplify\PHP7_CodeSniffer\Ruleset
    - Symplify\PHP7_CodeSniffer\Ruleset\Routing\Router
    - Symplify\PHP7_CodeSniffer\Ruleset\RulesetBuilder
    - Symplify\PHP7_CodeSniffer\Ruleset\Rule\ReferenceNormalizer

    # tokenizer / parser
    - Symplify\PHP7_CodeSniffer\Parser\FileToTokensParser
    - Symplify\PHP7_CodeSniffer\Parser\EolCharDetector
    - PHP_CodeSniffer\Util\Tokens

    # sniff dispatcher
    - Symplify\PHP7_CodeSniffer\EventDispatcher\CurrentListenerAwareEventDispatcher
    - Symplify\PHP7_CodeSniffer\EventDispatcher\CurrentListenerSniffCodeProvider
