services:
    - Symplify\PHP7_CodeSniffer\Configuration\ConfigurationResolver

    # options resolver
    - Symplify\PHP7_CodeSniffer\Configuration\OptionsResolverFactory
    -
         factory: [@Symplify\PHP7_CodeSniffer\Configuration\OptionsResolverFactory, 'create']
