services:
    - Symplify\PHP7_CodeSniffer\Configuration\Configuration
    - Symplify\PHP7_CodeSniffer\Configuration\ConfigurationResolver
    - Symplify\PHP7_CodeSniffer\Configuration\EventSubscriber\ResolveConfigurationEventSubscriber
    - Symplify\PHP7_CodeSniffer\Configuration\EventSubscriber\RequirementsEventSubscriber
