services:
    - Symplify\PHP7_CodeSniffer\Console\Php7CodeSnifferApplication
    - Symplify\PHP7_CodeSniffer\Console\Command\RunCommand

    - Symfony\Component\Console\Input\ArgvInput
    - Symfony\Component\Console\Output\ConsoleOutput
    - Symplify\PHP7_CodeSniffer\Console\Style\CodeSnifferStyle
