services:
    - Symplify\PHP7_CodeSniffer\Console\CodeSnifferApplication
    - Symplify\PHP7_CodeSniffer\Console\Command\CheckCommand

    - Symfony\Component\Console\Input\ArgvInput
    - Symfony\Component\Console\Output\ConsoleOutput
    - Symplify\PHP7_CodeSniffer\Console\Style\CodeSnifferStyle
